body, html {
    min-height: 100vh;
}

body{
	margin: 0;
    text-align: center;
    background: #282828;
    background: -moz-linear-gradient(top, rgba(40, 40, 40, 1) 0%, rgba(74, 74, 74, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40, 40, 40, 1)), color-stop(100%,rgba(74, 74, 74, 1)));
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 1) 0%,rgba(74, 74, 74, 1) 100%);
    background: -o-linear-gradient(top, rgba(40, 40, 40, 1) 0%,rgba(74, 74, 74, 1) 100%);
    background: -ms-linear-gradient(top, rgba(40, 40, 40, 1) 0%,rgba(74, 74, 74, 1) 100%);
    background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%,rgba(74, 74, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#4A4A4A',GradientType=0 );
}

.spacing{
 padding-left: 70px;
}

.spacing-icon{
    padding-right: 5px
}

.nav a{
    font-size: 0.8em; !important;
}
.center_div {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

#center {
    padding-left: 400px;
    font-size: 23px;
}

#img_center {
    display: block;
    margin: 0 auto;
}

.alert {
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
}
.itemname {
	font-size: 22px;
}
.float_val {
	font-size: 17px;
}
.progress {
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 1440px){
    #center{
        padding-left: 210px;
    }
}

@media screen and (max-width: 1024px){
    #center{
        padding-left: 0;
    }
}

@media only screen and (max-width: 711px) {
    .center_div {
    	margin-top: 120px;
    }
}

@media screen and (max-width: 396px) {
    .center_div {
    	margin-top: 180px;
    }
}
